<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui"
		xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	<h:head>
		<title>PoC Simple JSF Application - EditUserPage</title>
	</h:head>
	<h:body>	
		<div align="center">
			<h1>Editar Usuário</h1>      
			<h:form>
				<p:inputText id="pUserKey" name="pUserKey" value="#{editUserNavigationController.userKey}"  type="hidden"/>
				
				<!-- Usar JQuery para validar campos -->
				
				<p:panelGrid columns="2">
			
					<p:outputLabel value="Nome:" />
					<p:inputText id="pName" name="pName" value="#{editUserNavigationController.name}" alt="Nome do Usuário" maxlength="100" tabindex="1">
						<f:validateLength maximum = "100" />
					</p:inputText>
				
					<p:outputLabel value="Email:" />
					<p:inputText id="pEmail" name="pEmail" value="#{editUserNavigationController.email}" alt="Email válido" maxlength="100" tabindex="3">
						<f:validateLength maximum = "100" />
					</p:inputText>
					
					<p:outputLabel value="Sexo:" />
					<p:selectOneRadio id="pSex" name="pSex" value="#{editUserNavigationController.sex}" tabindex="3" title="Sexo">
						<f:selectItem itemValue="Male" itemLabel="Masculino" />
						<f:selectItem itemValue="Female" itemLabel="Feminino" />
					</p:selectOneRadio>
					
					<p:outputLabel value="País:" />
					<p:selectOneListbox id="pCountry" name="pCountry" value="#{editUserNavigationController.country}" tabindex="4" title="País">
					   	<f:selectItem itemValue="Brazil" itemLabel="Brazil" />
					   	<f:selectItem itemValue="Uruguay" itemLabel="Uruguay" />
					   	<f:selectItem itemValue="Bolivia" itemLabel="Bolívia" />
					   	<f:selectItem itemValue="Peru" itemLabel="Peru" />
					   	<f:selectItem itemValue="Argentina" itemLabel="Argentina" />
					</p:selectOneListbox>
						
						<p:commandButton style="text-align: center;" action = "#{editUserNavigationController.navigateTo}" value = "Edit User" icon="ui-icon-star" update="vldtMessages">
							<f:param name = "pageIdNav" value = "updateUser" />
						</p:commandButton>
		
						<p:commandButton style="text-align: center;" action = "#{editUserNavigationController.navigateTo}" value = "Cancel" icon="ui-icon-star">
						   <f:param name = "pageIdNav" value = "cancel" />
						</p:commandButton>
				</p:panelGrid>
			</h:form>
			<div align="left">
			<p/><p:messages id="vldtMessages" name="vldtMessages"/>
			</div>
		</div>
	</h:body>
</html>