<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui"
		xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	<h:head>
		<title>PoC Simple JSF Application - GetAllUsersPage</title>
	</h:head>
	<h:body>
		<div align="center">
			<h1>List All Users</h1>
			<h:form>
				<p:dataTable value="#{getAllUsersNavigationController.lstUser4J}" var="user"  
						border="2" cellspacing="1" cellpadding="1" title="List All Users"
						paginator="true" rows="5">
	    			<p:column style="text-align: center;" headerText="Chave"><h:outputText value="#{user.key}" /></p:column>
	    			<p:column headerText="Nome"><h:outputText value="#{user.name}" /></p:column>
	    			<p:column headerText="Email"><h:outputText value="#{user.email}" /></p:column>
	    			<p:column headerText="Sexo"><h:outputText value="#{user.sex}" /></p:column>
	    			<p:column headerText="País"><h:outputText value="#{user.country}" /></p:column>
	
	    			<p:column style="text-align: center;" >
	    				<p:commandLink value="Editar" icon="ui-icon-star" action="#{editUserNavigationController.navigateTo}">
	    					<f:param name = "pageIdNav" value = "editUser" />
						   	<f:param name = "pKey"	value = "#{user.key}" />
	    				</p:commandLink>
	    			</p:column>
	
	    			<p:column style="text-align: center;" >
	    				<p:commandLink value="Excluir" icon="ui-icon-star" action="#{deleteUserNavigationController.navigateTo}">
	    					<f:param name = "pageIdNav" value = "deleteUser" />
						   	<f:param name = "pKey" value = "#{user.key}" />
	    				</p:commandLink>
	    			</p:column>
				</p:dataTable>
				<p/>
				<p:commandButton style="text-align: center;" action = "#{getAllUsersNavigationController.navigateTo}" value = "Add User" icon="ui-icon-star">
					<f:param name = "pageIdNav" value = "addUser" />
				</p:commandButton>
				&nbsp;&nbsp;&nbsp;
				<p:commandButton style="text-align: center;" action = "#{getAllUsersNavigationController.navigateTo}" value = "Home" icon="ui-icon-star">
				   <f:param name = "pageIdNav" value = "home" />
				</p:commandButton>
			</h:form>
		</div>
	</h:body>
</html>