<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui"
		xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	<h:head>
		<title>PoC Simple JSF With Primefaces Application</title>
	</h:head>
	<h:body>
		<div align="center">
			<p:panel id="pnl" header="PoC Simple JSF With Primefaces CRUD Application">
				<h:form>
					<h:commandLink id="addLnk" action = "#{navigationController.navigateTo}" value = "Add User">
					   <f:param id="pageKeyAddUser" name="pageIdNav" value="addUser" />
					</h:commandLink>
					&nbsp;&nbsp;
					<h:commandLink id="viewLnk" action = "#{navigationController.navigateTo}" value = "List Users">
					   <f:param id="pageKeyListUser" name="pageIdNav" value="getAllUsers" />
					</h:commandLink>
				</h:form>
			</p:panel>
		</div>
	</h:body>
</html>